body {
    margin: 0;
    height: 100vh;
}

* {
    font-family: Helvetica, sans-serif;
}

nav {
    position: relative;
    width: 100%;
    height: 7vh;
    left: 0;
    top: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.brand {
    object-fit: contain;
    padding: 0 10px;

    height: 80%;
}

main {
    background: #005A82;
    display: flex;
    height: 93vh;
}

#streamSection {
    flex: 3.5;
    box-sizing: border-box;
    padding: 20px;
}

#chatSection {
    padding-left: 0 !important;
    flex: 1;
    padding: 20px;
}

#streamWindow {
    position: relative;
}

#streamWindow video {
    width: 100%;
}

#chatWindow {
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
}

#chatMsgs {
    flex: 25;
    padding: .5vh;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.192);
}

#chatMsg {
    flex: 10;
}

#chatInput {
    flex: 1;
    display: flex;
    width: 100%;
}

.msg {
    background: rgb(206, 175, 0);
    padding: .5vh;
    margin: .59vh 0;
    border-radius: .4vh;
}

h4 {
    text-transform: capitalize;
    margin: 0 !important;
}

small {
    font-size: .7rem;
}